/* ImageGallery.css */
.image-gallery {
    max-width: 800px;
    margin:  auto;
    padding: 20px;

  }
  
  .loader {
    font-size: 24px;
    margin-top: 20px;
  }


  
  .image-grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
    }
  
  
  .image-card {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;


  }
  
  .image-card img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    height: auto;
  }
  
  .tags {
    margin-top: 10px;
  }
  
  .tag {
    background-color: #3498db;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 12px;
    display: inline-block;
  }
  input.search {
    width: 80%;
    border: 1px solid blue;
    display: block;
    padding: 9px 4px 9px 40px;
    margin-bottom: 50px;
    border-radius: .8rem;
    margin: auto;
    outline: none;

}

